{% extends 'base.html.twig' %}

{% block title %}
	Prestation
	{{parent()}}
{% endblock %}

{% block body %}
	<main>
		<div class="banner-prestation">
			<h1>Prestation</h1>
		</div>
		<section id="prestation">
			<h2>Découvrez les différentes
				<br><span class="font-green">préstations proposées</span>
			</h2>
			<div class="container">
				<div class="row justify-content-md-center justify-content-center">
					{% for prestation in prestations %}
						<div class="card-prestation col-lg-3 col-md-6 col-12">
							<div class="card-content">
								<div class="img-prestation">
									<img src="{{ asset('/uploads/') }}{{prestation.image}}" alt="photo illustrant la prestation">
								</div>
								<h3 class="title-prestation">{{ prestation.title }}</h3>
								<p class="resume-prestation">{{ prestation.resume|raw }}</p>
								{# <a class="btn-show" href="#">Voir détail</a> #}
                                <a href="{{ path('prestation_show', { id: prestation.id}) }}">Voir détail</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
