{% extends 'base.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <h1>Prestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ prestation.title }}</td>
            </tr>
            <tr>
                <th>ResumeDesc</th>
                <td>{{ prestation.resumeDesc }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ prestation.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ prestation.createdAt ? prestation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ prestation.price }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ prestation.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prestation_index') }}">back to list</a>

    <a href="{{ path('app_prestation_edit', {'id': prestation.id}) }}">edit</a>

    {{ include('prestation/_delete_form.html.twig') }}
{% endblock %}
