<header>
	<div class="bando">
		<p>Me contacter  par téléphone au 06 04 41 44 14 ou par e-mail à contact@educpluto.com
		</p>
	</div>
	<div class="nav-blur">
		<nav>
			<div class="logo-header">
				<img src=" {{ asset('/img/logo.jpeg') }}" alt="logo du site">
			</div>
			<a href="{{ path('app_index') }}">Accueil</a>
			<a href="{{ path('app_prestation') }}">Prestation</a>
			<a href="{{ path('app_blog') }}">Blog</a>
			<a href="{{ path('app_rdv') }}">Prendre RDV</a>
		</nav>
	</div>

</header>

